<div class="about-us-wrapper">
<h1>About Us</h1>
<p>
  We are three hardcored bootcamp students at Wyncode Academy. Our passion is code, Our love is knowledge and we love what we do!</p>
  <p>In this project we are using our new found knowledge of Ruby on Rails, HTML, and CSS to produce a working Amazon clone.  This is a fully interactive webpage allowing you to view products, authenticate users, save and delete information, and much more.</p>
<div id="linkedin"><h3 id="findusin">Find us on LinkedIn
  <img src="https://blogs.balsamiq.com/product/wp-content/plugins/sociable/images/customIcons/linkedin.png"></h3><br>
</div>
<ul class="about-us">
  <li>
    <a target="_blank" href="https://www.linkedin.com/in/renanav">
      Renan Avrahami
    </a>
  </li>
  <li>
    <a
      target="_blank"
      href="https://www.linkedin.com/in/chrisheder?authType=NAME_SEARCH&authToken=Gm4F&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A163025170%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1455581634525%2Ctas%3Achri">
      Chris Heder
    </a>
  </li>
  <li>
    <a
      target="_blank"
      href="https://www.linkedin.com/in/israelmmartinez?authType=NAME_SEARCH&authToken=duBg&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A470871974%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1455581711917%2Ctas%3Aisrael%20ma">
      Israel Martinez
    </a>
  </li>
</ul>
</div>
