/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 @import "compass/css3"
 @import "compass/css3/user-interface"
 @import "compass/css3/box-sizing"
 @import "bourbon";
 @import "neat";
 @import "main";
 *= require_tree .
 *= require_self
 */
html, body{
  height: 100vh;
}

.footer {
    position: absolute;
    padding-bottom: 0;
    width: 100%;
    height: 60px;
    background: black;
}

ul {
    list-style: none;
    margin-left: 0 !important;
}

aside {
 section.user_info {
  margin-top: 20px;
 }

 section {
   padding: 10px 0;
   margin-top: 20px;
   &:first-child {
     border: 0;
     padding-top: 0;
   }

   span {
     display: block;
     margin-bottom: 3px;
     line-height: 1;
   }

   h1 {
     font-size: 1.4em;
     text-align: left;
     letter-spacing: -1px;
     margin-bottom: 3px;
     margin-top: 0px;
   }
 }
}


 .gravatar {
   float: left;
   margin-right: 10px;
 }

 .gravatar_edit {
   margin-top: 15px;
 }

input, textarea, select, .uneditable-input {
 border: 1px solid #bbb;
 width: 100%;
 margin-bottom: 15px;
 @include box_sizing;
}

input {
 height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

footer {
  display: block;
}

#imglink {
  border: 4px solid red;
}


div.tab-pane span {
  position:absolute;
  width:40%;
}

#homebck {
  background-image: url("http://i.imgur.com/MezMq8d.jpg");
  background-size:cover;
  background-position: top;
}

.lead {
  background-color: rgba(240, 240, 240, 0.3);
  padding: .5em;
}

h1 #h1main {
  text-shadow: 2px 2px 2px #444;
}


.form-control {
  width: 80%;
  margin: 0 auto;
}

div.carousel-caption {
  text-shadow: 1px 1px 3px black;
}
