body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

footer {
  display:block;
  bottom: auto;
}

#titlewyn, #login, h1#prodtitle {
  margin: 1.5em;
  color:#c00;
  padding: .5ex;
  text-shadow: 2px 2px 1px #999;

}

img#wynlogo {
  height: 1.5em;

}

#findusin {
  font-weight: bolder;
}
