/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


img.img-responsive {
  border:2px solid #999;
  box-shadow: 2px 2px 1px #c00;
  max-height: 250px;
  align-content:space-around;;
  padding: 1em;

}
