// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#loginbk {
  position:fixed;
  top:0;
  height:100%;
  width:100%;
  background-image:url("http://i.imgur.com/hlO5KCH.jpg");
  background-position: top;
  background-size:cover;
}

#lgin {
  background-color: rgba(180, 180, 180, 0.7);
  align-content: center;
}
