// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1#signup {
  color:#c00;
  padding: .5em;
  text-shadow: 2px 2px 1px #999;

}

div#sign_up {
  background-color: rgba(180, 180, 180, 0.7);
  align-content: center;
}

#accounthm {
  border: 2px solid red;
  margin: 0 auto;
}

div#signupbk {
  position:fixed;
  top:0;
  height:100%;
  width:100%;
  border: 2px solid blue;
  background-image: url("http://i.imgur.com/BCp1CE9.jpg");
  background-position: center;
  background-size: cover;
  }

div#crtmyaccnt {
  padding: .5em;
}
